<h1>Listing Post</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<%= link_to 'New post', new_post_path %>

<script>

FIXED_OFFSET = <%= @POST_PER_PAGE %>;
var offset = 0;
var endofposts = false;

function tempfunc(){
    if(endofposts)return;

    $.ajax({
        type: "GET",
        url: '<%= posts_path %>'+'?offset='+offset,
        dataType: 'text',
        success: function(data){
            if(data == ""){
                endofposts = true;
                return;
            }
            offset += FIXED_OFFSET;
            document.body.innerHTML += data;
        }
    });
}

console.log($(window).scrollTop() + $(window).height() , $(document).height()); 
tempfunc();  

window.addEventListener("scroll", (event) => {
    if($(window).scrollTop() + $(window).height() == $(document).height()) {
        tempfunc();
    }
});

</script>